body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.navBar {
    background-color: #343a40;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    color: white;
}

.todo-details {
    display:flex;
    flex-direction:column;



    
    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

            &.complete-true {
              span {
                background: pink;
                text-decoration:line-through;
                &:hover {
                   background: seagreen;
                }
              }
            }

            span {
                background: #e0e0e0;
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 300px;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}
